@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Montserrat', sans-serif;
}

.container {
  min-width: 60%;
  width: 90%;
  margin: 0 auto;
}

.transforms {
  transform: translate(-50%, 0%);
}

.gradient {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

.home__banner-overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../public/main.webp');
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.restaurant__banner-overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/public/res.jpg');
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
